/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.col-sm-4{
  position: relative;
  min-height: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
	background: url(SienaHall.jpg) center;
	color: white;
	text-shadow: 2px 2px black;
}

.btn-primary {
  color: #ffffff;
  background-color: #003300;
  border-color: #008000;
  text-shadow: 2px 2px black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #CC9900;
  border-color: #008000;
  text-shadow: 2px 2px black;
}

.panel-primary {
  border-color: #003300;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #003300;
  border-color: #003300;
  text-shadow: 2px 2px black;
}